<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.speaking.mapper.SentenceMapper">
    <select id="getSentenceById" resultType="com.wx.speaking.bean.Sentence">
        SELECT * FROM sentence WHERE id=#{id}
    </select>

    <update id="updateSentence">
        INSERT INTO sentence(id,content,video_path,course_id,
        total_score,accuracy_score,fluency_score,integrity_score,word_score,flag,count)
        VALUES (#{id},#{content},#{videoPath},#{courseId},
        #{totalScore},#{accuracyScore},#{fluencyScore},#{integrityScore},#{wordScore},#{flag},1)
        ON DUPLICATE KEY UPDATE
        total_score=#{totalScore},accuracy_score=#{accuracyScore},fluency_score=#{fluencyScore},
        integrity_score=#{integrityScore},word_score=#{wordScore},count=count+1
    </update>

    <select id="getSentenceList" resultType="com.wx.speaking.bean.Sentence">
        SELECT * FROM sentence WHERE course_id=#{courseId}
    </select>
</mapper>